---
layout: default
title: Home
---
<section class="intro">
  <div class="container">
    <p class="lead">
      博主曾经非常认真地研究过照明这件事情，在开关/亮灭以外还有太多的细节。博主也喜欢DIY一些灯具、光源在家里使用。
    </p>
  </div>
</section>

<section class="post-list">
  <div class="container">
    {% for post in site.categories.lighting %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h2 class="category-title">{{ currentdate }}</h2>
        {% assign date = currentdate %}
      {% endif %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      </article>
      {% if forloop.last %}{% endif %}
    {% endfor %}
  </div>
</section>
