
<nav class="nav">
  <div class="container">
    <h1 class="logo">

      <img src="/images/logo.png" href="{{ '/' | prepend: site.baseurl }} "alt="" style="width:50px;height:50px;border-radius:100px">
      <a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}<span>{{ site.title2 }}</span></a>


    </h1>
    <ul class="navbar">
      <li><a href="{{ '/audio.html' | prepend: site.baseurl }}">AUDIO BLOG</a></li>
      <li><a href="{{ '/diy.html' | prepend: site.baseurl }}">DIY PROJECT</a></li>
      <li><a href="{{ 'https://github.com/soundnodes' | prepend: site.baseurl }}">GITHUB</a></li>
      <li><a href="{{ '/more.html' | prepend: site.baseurl }}">MORE..</a></li>
      <!--
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">RSS</a></li>
      -->
    </ul>
  </div>
</nav>
